<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <script src="js/angular.min.js"></script>
</head>
<body>
  <div ng-app="myForm" ng-controller="myFormController">
     <form novalidate>
       姓名:<input type="text" ng-model="user.name"/><br>
       年龄:<input type="text" ng-model="user.age"/><br>
       <button ng-click="reset()">reset</button>
     </form>
     <p>{{user}}</p>
     <p>{{master}}</p>
  </div>
  <script>
      var app=angular.module("myForm",[]);
      app.controller("myFormController",function ($scope) {
         $scope.master={name:'shiming',age:16};
         $scope.reset=function () {
             $scope.user=angular.copy($scope.master);
         }
      });
  </script>
</body>
</html>